.form__currency {
    border-radius: 15px;
    padding: 10px;
    font-family: 'Noto Sans';
    background-color: teal;
    color: white;
    border: 3px solid black;
    max-width: 250px;
    margin: 15px;
    font-weight: bold;
}

.form__currencyItem {
    font-family: 'Noto Sans';
    font-weight: bold;
    margin: 15px;
}

.form__currencyButton {
    font-family: 'Noto Sans';
    padding: 5px;
    margin-left: 10%;
    background-color: teal;
    border-radius: 15px;
    width: 250px;
    color: white;
    font-weight: bold;
}

.form__currencyButton:hover {
    box-shadow: 4px 5px 6px rgb(0, 0, 0);
    cursor: pointer;
}

.form__currencyButton:active {
    color: rgb(28, 217, 217)
}

.form__currencyResult {
    font-family: 'Noto Sans';
    font-weight: bold;
    align-items: center;
}