html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.container {
    padding: 110px;
    font-family: 'Noto Sans';
    background-image: url(../images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center ;
    
}

.fieldset {
    max-width: 600px;
    border-radius: 15px;
    border: 3px solid black;
    padding: 20px;
    margin: auto;
    box-shadow: 4px 5px 6px teal;
    background-color: aliceblue;
}